# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx
*.json

# Images and outputs
*.png
*.jpg
*.jpeg

# PDFs and reports
*.pdf

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
